---
interface Props {
  text: string;
  href: string;
  extraclasses?: string;
  onclick?: string;
  newtab?: boolean;
  popup?: boolean;
}
var { text, href, extraclasses, onclick, newtab = true, popup = false } = Astro.props as Props;

const classes = `bg-gradient-to-r from-notwhite to-notwhite hover:from-gradient1 hover:to-gradient2 text-transparent bg-clip-text link ${extraclasses ? extraclasses : ""}`;

// If domain exists and is not homeurl then open in new tab.
const homeUrl = "lerndmina.dev";
var target;

const regex = "^(https?://)?(www.)?([^/]+)";
const found = href.match(regex);

if (found && found[3] != homeUrl) {
  if (newtab) {
    target = "_blank";
  }
}

if (popup) {
  target = "_blank";
  onclick = 'window.open(this.href, "mywin", "width=500,height=500,toolbar=1,resizable=0"); return false;';
}
---

<a onclick={onclick} target={target} class={classes} href={href}>{text}</a>
