---
import Link from "../components/Link.astro";
import { slugify, formatDate } from "../utils/utils";
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
const { post } = Astro.props;
interface Props {
  post: CollectionEntry<"blog">;
}

const { title, date, author, image, imageTitle, description, category } = post.data;

const url = `/blog/${post.slug}/`;

// console.log(`POST URLS ${url}`);
---

<div class="p-10 lg:max-w-5xl max-w-xl text-notwhite mx-auto">
  <!--Card 1-->
  <div class="py-5 lg:max-w-full lg:flex bg-darkbg rounded-md">
    <a href={url}>
      <Image
        class="pl-4 pr-1 max-w-xs max-h-80 mx-auto lg:h-auto lg:w-auto flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
        src={image}
        alt={imageTitle ? imageTitle : description}
        title={imageTitle ? imageTitle : description}
        transition:name={"img-" + post.slug}
        format={"avif"}
      />
    </a>
    <div class="pr-4 flex flex-col lg:max-w-md lg:mx-auto text-center lg:justify-between justify-center">
      <div class="mb-8">
        <div class="font-bold text-xl mb-2" transition:name={"title-" + post.slug}>
          <Link href={url} text={title} />
        </div>
        <p class="text-base">{description}</p>
      </div>
      <!-- Desktop View -->
      <div class="flex lg:items-center self-center text-center">
        <div class="lg:text-sm lg:text-left font-semibold">
          <p>
            <Link href={`/blog/category/${slugify(category)}/`} text={`# ${category}`} />
          </p>
          <p transition:name={"author-" + post.slug}>
            <Link href={`/blog/author/${slugify(author)}/`} text={author} /><span>
              •
              {formatDate(date)}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
